/* general*/

html {
  scroll-behavior: smooth;
}

body {
  margin: 0px;
  font-size: 150%;
  font-family: "Lato", sans-serif;
  color: rgb(24, 24, 24);
}

h2 {
  color: #1768ac;
}

p {
  font-weight: 550;
}

footer {
  padding: 50px;
  padding-top: 100px;
  background-color: rgb(24, 24, 24);
  color: white;
}

/* navbar*/

.container {
  display: grid;
  grid-template-columns: 1fr;
}

.nav-wrapper {
  padding: 38px;
  font-weight: 600;
}

.left-side {
  display: flex;
  position: fixed;
}

.right-side {
  display: flex;
  justify-content: right;
}

.nav-wrapper > .left-side > div {
  margin-right: 8px;
}

.nav-wrapper > .right-side > div {
  margin-right: 20px;
  font-size: 0.9em;
  text-transform: uppercase;
}

.nav-link-wrapper {
  height: 22px;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.5s;
}

.nav-link-wrapper a {
  color: #7c7c7c;
  text-decoration: none;
  transition: color 0.5s;
}

.nav-link-wrapper-active a {
  color: #1768ac;
}

.nav-link-wrapper:hover {
  border-bottom: 2px solid rgb(24, 24, 24);
}

.nav-link-wrapper a:hover {
  color: rgb(24, 24, 24);
}

.Logo {
  color: #1768ac;
}

/* Introduction*/

.impression {
  display: flex;
  justify-content: space-between;
  padding: 64px;
  padding-bottom: 20%;
  font-size: 200%;
}

.hi {
  color: #f58a07;
}

.gif-box {
  width: 800px;
  height: 800px;
}

.gif {
  max-width: 100%;
  height: auto;
}

/* About*/

.about {
  display: flex;
  justify-content: space-between;
  padding-left: 128px;
  font-size: 200%;
}

.boxy {
  width: 1000px;
  height: auto;
}

.boxy p {
  font-size: 75%;
}

.flower {
  padding-right: 128px;
}

.about-content {
  padding-left: 128px;
  padding-right: 520px;
  font-size: larger;
}

.quote {
  padding: 64px;
  padding-top: 128px;
  padding-bottom: 300px;
  text-align: center;
  color: #7c7c7c;
}

/* Projects*/

.projects {
  padding-left: 128px;
  padding-top: 100px;
  padding-bottom: 256px;
}

.project1 {
  display: flex;
  justify-content: space-between;
  padding-right: 256px;
}

.description {
  padding-right: 64px;
}

.see {
  background-color: #f7d461;
  color: white;
  border-radius: 2em;
  width: fit-content;
}

/* Footer*/

.write {
  padding-left: 128px;
  padding-top: 200px;
  color: #84ac17;
}

.form {
  display: flex;
  justify-content: space-evenly;
  padding: 5%;
}

.footer-box {
  display: flex;
  justify-content: left;
}

.socials {
  padding: 10px;
}

.endbox {
  display: flex;
  justify-content: center;
}

/*mobile adjustment*/

@media only screen and (max-width: 1200px) {
  .impression {
    padding-bottom: 50%;
    padding-top: 20%;
  }

  .placeholder {
    padding-bottom: 70%;
  }

  .footer_box {
    padding-top: 50%;
  }

  .about-content {
    padding-right: 200px;
  }

  .quote {
    padding-bottom: 600px;
  }

  .project1 {
    padding-right: 128px;
  }

  .projects {
    padding-bottom: 500px;
  }

  .game-img {
    width: 200px;
    height: 200px;
  }
}

/*Cube-Race*/

.go-back {
  padding: 64px;
}
